= simple_form_for @task, html: { :class => 'form-horizontal' } do |f|
  = f.error_notification

  .form-inputs
    = f.input :title, :require => true
    = f.input :description, :as => :text, :input_html => { "rows" => 4, class: 'description' }
    = f.input :time_spent, :as => :string, :label => "Time spent (minutes)"
    = f.input :time_estimated, :as => :string, :label => "Time estimated (minutes)"
    -#= f.association :column, :include_blank => false
    = f.association :column, :include_blank => false, collection: @board.columns, :input_html => { class: 'users-multiselect' }
    = f.association :user, :include_blank => true, collection: @board.user_group.users, :input_html => { class: 'users-select' }
    -#= f.input :tag_id
    -#= f.input :subtask_id
    -#= f.input :comment_id
