= simple_form_for @user_group, html: { :class => 'form-horizontal'} do |f|
  = f.error_notification

  .form-inputs
    = f.input :group_name, :required => true
    = f.association :users, :input_html => { class: 'users-multiselect' }
    

  .form-actions
    = link_to(user_groups_path, class: 'btn btn-info') do
      %i.icon-list-alt.icon-white
      Groups list
    = f.button :submit, class: "btn btn-primary"
