%table.tasks-board#tasks-board{data: {tasks: @tasks.to_json(include: [:user, :subtasks])}}
  %tr.headers
    - if @board.columns.empty?
      - @board.set_dufault_columns
    - for column in @board.columns
      = table_header column.name, '#new-task', column.id
  %tr.content
    - for column in @board.columns
      = tasks_layout column.name, column.id, column.group_by_date

#timer-layout
  %a.button.stop-timer-button{href: '#'}
    %i.icon-stop.icon-white
    Stop Timer
  
  .timer
    %span.time-left 00:00
  %span.working-on#timer-task-name

.modal.hide.fade#new-task
  .modal-header
    %button.close{ type: 'button', 'data-dismiss' => 'modal' } x
    %h3 Add new task
  %p.alert.alert-error#add-task-modal-error
  .modal-body
    = render :partial => 'tasks/form'
  .modal-footer
    %a.btn.btn-primary#save-task-button Save
    %a.btn.btn-danger{ "data-dismiss" => 'modal' } Close

.modal.hide.fade#keyboard-shortcuts
  -#%h1.shortcuts-title Shortcuts:
  .modal-header
    %button.close{ type: 'button', 'data-dismiss' => 'modal' } x
    %h3 Keyboard Shortcuts
  .modal-body
    = render :partial => 'tasks/shortcut', :locals => { :key => "?", :key_description => "Show all keyboard shortcuts" }
    = render :partial => 'tasks/shortcut', :locals => { :key => "n", :key_description => "Create new task" }
    = render :partial => 'tasks/shortcut', :locals => { :key => "m", :key_description => "Show only my tasks" }
    = render :partial => 'tasks/shortcut', :locals => { :key => "a", :key_description => "Show all tasks" }
    = render :partial => 'tasks/shortcut', :locals => { :key => "hjkl / Arrows", :key_description => "Move between tasks and columns" }
    = render :partial => 'tasks/shortcut', :locals => { :key => "e", :key_description => "Edit chosen task" }
    = render :partial => 'tasks/shortcut', :locals => { :key => "o", :key_description => "Open / Close current task" }
    = render :partial => 'tasks/shortcut', :locals => { :key => "ENTER", :key_description => "Start working" }
    = render :partial => 'tasks/shortcut', :locals => { :key => "s", :key_description => "Stop timer" }
    = render :partial => 'tasks/shortcut', :locals => { :key => "delete", :key_description => "Delete task" }
    = render :partial => 'tasks/shortcut', :locals => { :key => "ESC", :key_description => "Quit chosen task" }
