.hero-unit
  %h1= @user.username
  %p= "#{@user.email}#{", Admin" if @user.is_admin}#{" (you)" if current_user == @user}"
  - if @user.user_groups.empty?
    %p User have no groups or boards.
  - else
    %p
      Group(s):
      %br
      - @user.user_groups.each do |group|
        = link_to group.group_name, user_group_path(group)
        %br
    %p
      Board(s):
      %br
      - @user.boards.each do |board|
        = link_to board.name, board_path(board)
        %br

  %br

  .show-actions
    - if current_user.is_admin
      = link_to(admin_users_path, class: 'btn btn-info') do
        %i.icon-th-list.icon-white
        Users list
      - if current_user == @user
        .btn.btn-primary.disabled
          %i.icon-pencil.icon-white
          Edit
      - else
        = link_to(edit_admin_user_path(@user), class: 'btn btn-primary ' + "#{ "disabled" if current_user == @user }") do
          %i.icon-pencil.icon-white
          Edit
    = link_to(root_url, class: 'btn btn-success') do
      %i.icon-home.icon-white
      Tasks manager
  -#%p Here goes the user's tasks
  -#%table.table.table-striped
    -#%tr
      -#%th Task name

    -#- @user.tasks.each do |task|
      -#%tr
        -#%td= task.title
  
