%html
%head
  %title GeverFlow
  = stylesheet_link_tag    "application", :media => "all"
  = csrf_meta_tags
%body
  .navbar
    .navbar-inner
      .container
        %a.brand{ href: root_url } GeverFlow
        - if user_signed_in?
          = render :partial => "layouts/board_menu" 
          - if current_user.is_admin
            = render :partial => "layouts/admin_menu"
          - if @is_board
            = render :partial => "layouts/board_options"
          -#= render :partial => "layouts/pomodoro_timer"

        %ul.nav.pull-right
          - if user_signed_in?
            %li
              %span#signed-in-span
                %i.icon-user.icon-white
                = "Signed in as a #{current_user.username}"
            %li.divider-vertical
            %li
              = link_to(destroy_user_session_path, :method => :delete) do
                %i.icon-share-alt.icon-white
                Sign Out
          - else
            %li
              %a{href: new_user_session_path}
                %i.icon-home.icon-white
                Login
            %li.divider-vertical
            %li
              %a{href: new_user_registration_path}
                %i.icon-user.icon-white
                Sign in


  #main-container.container
    - unless notice.nil?
      %p.alert.alert-success#notice= notice
    - unless alert.nil?
      %p.alert.alert-error#alert= alert
    = yield

  = javascript_include_tag "application"
